<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="DEBUG"/>

    <!-- actors logging -->
    <logger name="akka.actor" level="DEBUG"/>
    <logger name="actors" level="DEBUG" />
    <logger name="actors.BatchTrainer" level="DEBUG"/>
    <logger name="actors.Classifier" level="DEBUG"/>
    <logger name="actors.DataHandler" level="DEBUG"/>
    <logger name="actors.Director" level="DEBUG"/>
    <logger name="actors.EventListener" level="DEBUG"/>
    <logger name="actors.EventServer" level="DEBUG"/>
    <logger name="actors.FetchResponseHandler" level="DEBUG"/>
    <logger name="actors.TimingOutDataHandler" level="DEBUG"/>

    <!-- controllers -->
    <logger name="controllers" level="INFO"/>
    <logger name="org.apache.spark" level="ERROR">
        <appender ref="STDOUT" />
    </logger>
    <logger name="org.apache.spark-project" level="ERROR">
        <appender ref="STDOUT" />
    </logger>
    <logger name="org.apache.hadoop" level="WARN">
        <appender ref="STDOUT" />
    </logger>
    <logger name="breeze.optimize" level="WARN">
        <appender ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>

